<div id="main">
  {{!-- Primary banner --}}
  {{#bulma-hero isPrimary=true class="banner"}}
    {{#bulma-hero-content}}
        {{#bulma-columns}}

          {{#bulma-column is5=true}}
            <h1 class="title">Justicia Abierta</h1>
            <p class="is-text has-text-weight-light">En mi discurso de toma de posesión como Magistrada Presidenta de la Corte de Constitucionalidad hice patente el compromiso de rendir cuentas periódicamente a la toda la ciudadanía guatemalteca como parte del eje de trabajo de transparencia y rendición de cuentas. Lo anterior, también constituye un compromiso de la Séptima Magistratura de la Corte con el objetivo consolidar un modelo de justicia constitucional acorde a los estándares de la Justicia Abierta. En ese sentido, mediante el informe de trabajo que hoy rindo, públicamente doy a conocer los avances y proyectos institucionales emprendidos durante la gestión presidencial.</p>
          {{/bulma-column}}

          {{#bulma-column class="has-text-centered"}}
            <iframe id="video" src="https://www.youtube.com/embed/IEPTU3rpx1k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          {{/bulma-column}}

        {{/bulma-columns}}
    {{/bulma-hero-content}}
  {{/bulma-hero}}
  {{!-- Section of modals --}}
  {{#bulma-section class="has-text-centered modals"}}
    {{#bulma-container}}
      <h1 class="has-text-grey-light title is-6">Haz clic en los iconos para conocer el detalle del trabajo</h1>
      {{!-- row 1 --}}
      <div class="tile is-ancestor">
        {{!-- 1 --}}
        {{tile-modal
          resumen=model.resumen.cc-1
          model=model.cc1}}
        {{!-- 2 --}}
        {{tile-modal
          resumen=model.resumen.cc-2
          model=model.cc2}}
        {{!-- 3 --}}
        {{tile-modal
          resumen=model.resumen.cc-3
          model=model.cc3}}
        {{!-- 4 --}}
        {{tile-modal
          resumen=model.resumen.cc-4
          model=model.cc4}}
      </div>
      <div class="tile is-ancestor">
        {{!-- 5 --}}
        {{tile-modal
          resumen=model.resumen.cc-5
          model=model.cc5}}
        {{!-- 6 --}}
        {{tile-modal
          resumen=model.resumen.cc-6
          model=model.cc6}}
        {{!-- 7 --}}
        {{!-- {{tile-modal
          resumen=model.resumen.cc-7
          model=model.cc7}} --}}
        {{!-- 8 --}}
        {{tile-modal
          resumen=model.resumen.cc-8
          model=model.cc8}}
      </div>
    {{/bulma-container}}
  {{/bulma-section}}
</div>
