<div id="main">
  {{!-- Primary banner --}}
  {{#bulma-hero isPrimary=true class="banner"}}
    {{#bulma-hero-content}}
        {{#bulma-columns}}

          {{#bulma-column is5=true}}
            <h1 class="title">Justicia Abierta</h1>
            <p class="is-text has-text-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          {{/bulma-column}}

          {{#bulma-column class="has-text-centered"}}
            <video controls crossorigin playsinline poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" id="player">
                <!-- Video files -->
                <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4" size="576">
                <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4" size="720">
                <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type="video/mp4" size="1080">
                <!-- Fallback for browsers that don't support the <video> element -->
                <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
            </video>
          {{/bulma-column}}

        {{/bulma-columns}}
    {{/bulma-hero-content}}
  {{/bulma-hero}}
  {{!-- Section of modals --}}
  {{#bulma-section class="has-text-centered modals"}}
    {{#bulma-container}}
      <h1 class="has-text-grey-light title is-6">Haz clic en los iconos para conocer el detalle del trabajo</h1>
      {{!-- row 1 --}}
      <div class="tile is-ancestor">
        {{!-- 1 --}}
        {{tile-modal resumen=model.resumen.cc-1 actual=model.cc1.actual anterior=model.cc1.anterior acumulado=model.cc1.acumulado}}
        {{!-- 2 --}}
        {{tile-modal resumen=model.resumen.cc-2 actual=model.cc2.actual anterior=model.cc2.anterior acumulado=model.cc2.acumulado}}
        {{!-- 3 --}}
        {{tile-modal resumen=model.resumen.cc-3 actual=model.cc3.actual anterior=model.cc3.anterior acumulado=model.cc3.acumulado}}
        {{!-- 4 --}}
        {{tile-modal resumen=model.resumen.cc-4 actual=model.cc4.actual anterior=model.cc4.anterior acumulado=model.cc4.acumulado}}
      </div>
      <div class="tile is-ancestor">
        {{!-- 5 --}}
        {{tile-modal resumen=model.resumen.cc-5 actual=model.cc5.actual anterior=model.cc5.anterior acumulado=model.cc5.acumulado}}
        {{!-- 6 --}}
        {{tile-modal resumen=model.resumen.cc-6 actual=model.cc6.actual anterior=model.cc6.anterior acumulado=model.cc6.acumulado}}
        {{!-- 7 --}}
        {{tile-modal resumen=model.resumen.cc-7 actual=model.cc7.actual anterior=model.cc7.anterior acumulado=model.cc7.acumulado}}
        {{!-- 8 --}}
        {{tile-modal resumen=model.resumen.cc-8 actual=model.cc8.actual anterior=model.cc8.anterior acumulado=model.cc8.acumulado}}
      </div>
    {{/bulma-container}}
  {{/bulma-section}}
</div>
